{% extends "base.html" %}

<head>
    {% block title %}Password Changed / xHalford{% endblock %}
</head>

{% block header %}
{% endblock %}

{% block content %}
<div class="changed-container">
    <div class="changed-card">
        <div class="changed-title">
            <h2>Password Change Successful</h2>
        </div>
        <div class="changed-redirect">
            <a href="{% url 'home' %}"><i class="fas fa-home"></i></a>
        </div>
    </div>
</div>
<div class="footer-space"></div>
{% endblock %}

<footer></footer>
