{% extends "base.html" %}

<head>
    {% block title %}Change Password / xHalford{% endblock %}
</head>

{% block header %}
{% endblock %}

{% block content %}
<div class="password-change-container">
    <div class="password-change-card">
        <div class="password-change-title">
            <h2>Change Password</h2>
        </div>
        <div class="password-change-form">
            <form method="post">
                {% csrf_token %}
                {{ form.as_p }}
                <div class="password-change-submit">
                    <button type="submit">CHANGE</button>
                </div>
            </form>
        </div>
        <div class="password-change-redirect">
            <p>Return to login? <a href="{% url 'login' %}">LOGIN</a></p>
        </div>
    </div>
</div>
<div class="footer-space"></div>
{% endblock %}

<footer></footer>
