{% extends "base.html" %}

<head>
    {% block title %}Confirm Password Reset / xHalford{% endblock %}
</head>

{% block header %}
{% endblock %}

{% block content %}
<div class="reset-confirm-container">
    <div class="reset-confirm-card">
        <div class="reset-confirm-title">
            <h2>Create New Password</h2>
        </div>
        <div class="reset-confirm-form">
            <form method="post">
                {% csrf_token %}
                {{ form.as_p }}
                <div class="reset-confirm-submit">
                    <button type="submit">SUBMIT</button>
                </div>
            </form>
        </div>
        <div class="reset-confirm-redirect">
            <p>Return to login? <a href="{% url 'login' %}">LOGIN</a></p>
        </div>
    </div>
</div>
<div class="footer-space"></div>
{% endblock %}

<footer></footer>
