{% extends "base.html" %}

<head>
    {% block title %}Password Reset / xHalford{% endblock %}
</head>

{% block header %}
{% endblock %}

{% block content %}
<div class="reset-done-container">
    <div class="reset-done-card">
        <div class="reset-done-title">
            <h2>Password Reset</h2>
            <p>Check your inbox</p>
        </div>
        <div class="reset-done-redirect">
            <a href="{% url 'login' %}"><i class="fas fa-sign-in-alt"></i></a>
        </div>
    </div>
</div>
<div class="footer-space"></div>
{% endblock %}

<footer></footer>
