/* python manage.py collectstatic when making changes */

/* Password Change Form */
.password-change-container {
    display: grid;
    grid-template: 
    ". card ." 1fr
    ". footer ." 0.1fr
    / 0.5fr 6fr 0.5fr;
    padding-top: 2rem;
    justify-items: center;
    align-items: center;
    z-index: 2;
}

.password-change-card {
    grid-area: card;
    margin-top: 3rem;
    padding: 0 3rem 0;
    display: grid;
    grid-template:
    "title"
    "form"
    "redirect";
    justify-items: center;
    background-color: var(--midground-color);
    border-radius: 0.3rem;
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
    transition: all 0.4s ease-in-out;
}

.password-change-title {
    grid-area: title;
    width: 100%;
    font-size: 1.5rem;
    text-align: center;
    padding: 1.5rem 0 0;
}

.password-change-title h2 {
    margin: 0;
}

.password-change-card .password-change-form {
    grid-area: form;
    width: 100%;
    text-align: left;
    padding: 0.5rem 0 1.5rem;
}

.password-change-form p {
    position: relative;
    left: 10%;
    font-size: 1.5rem;
    margin: 0;
    padding: 1rem 0 1rem;
}

.password-change-form p:empty {
    display: none;
}

.password-change-form label {
    display: block;
    text-align: left;
    padding: 0 0 0.25rem;
}

.password-change-form input {
    color: var(--brightfont-color);
    font-size: 1.25rem;
    border: none;
    border-radius: 0.3rem;
    padding: 0.6rem;
    background-color: var(--background-color);
}

.password-change-form .helptext {
    display: none;
}

.password-change-form ul {
    display: none;
}

.password-change-submit{
    padding-top: 1rem;
    text-align: center;
}

.password-change-submit button {
    font-size: 1.8rem;
    font-weight: 700;
    background-color: var(--foreground-color);
    color: var(--logout-color);
    border: 3px solid var(--logout-color);
    border-radius: 0.3rem;
    transition: all 0.3s ease;
    cursor: pointer;
}

.password-change-submit button:hover {
    color: var(--foreground-color);
    background-color: var(--logout-color);
}

.password-change-redirect {
    grid-area: redirect;
}

.password-change-redirect a {
    text-decoration: none;
    color: var(--login-color);
}

.password-change-redirect a:hover {
    text-decoration: underline;
}
 
/* Password Change Done */
.changed-container {
    display: grid;
    grid-template: 
    ". card ."
    / 0.5fr 6fr 0.5fr;
    padding-top: 2rem;
    justify-items: center;
    align-items: center;
    z-index: 2;
}

.changed-card {
    grid-area: card;
    margin-top: 3rem;
    padding: 2rem 3rem;
    display: grid;
    grid-template:
    "title"
    "redirect";
    justify-items: center;
    background-color: var(--midground-color);
    border-radius: 0.3rem;
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
    transition: all 0.4s ease-in-out;
}

.changed-title {
    grid-area: title;
    width: 100%;
    font-size: 1.5rem;
    text-align: center;
    padding: 1.5rem 0;
}

.changed-title h2 {
    margin: 0;
}

.changed-redirect {
    grid-area: redirect;
    padding: 2rem 0;
}

.changed-redirect a {
    font-size: 4rem;
    text-decoration: none;
    color: var(--brightfont-color);
    transition: color 0.2s ease-in-out;
}

.changed-redirect a:hover {
    color: var(--login-color);
}
 
/* Password Reset */
.password-reset-container {
    display: grid;
    grid-template: 
    ". card ." 1fr
    / 0.5fr 6fr 0.5fr;
    padding-top: 2rem;
    justify-items: center;
    align-items: center;
    z-index: 2;
}

.password-reset-card {
    grid-area: card;
    margin-top: 3rem;
    padding: 0 3rem 0;
    display: grid;
    grid-template:
    "title"
    "form"
    "redirect";
    justify-items: center;
    background-color: var(--midground-color);
    border-radius: 0.3rem;
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
    transition: all 0.4s ease-in-out;
}

.password-reset-title {
    grid-area: title;
    width: 100%;
    font-size: 1.5rem;
    text-align: center;
    padding: 1.5rem 0 0;
}

.password-reset-title h2 {
    margin: 0;
}

.password-reset-card .password-reset-form {
    grid-area: form;
    width: 100%;
    text-align: left;
    padding: 0.5rem 0 1.5rem;
}

.password-reset-form p {
    font-size: 1.5rem;
    margin: 0;
    padding: 1rem 0 1rem;
}

.password-reset-form p:empty {
    display: none;
}

.password-reset-form label {
    display: block;
    text-align: left;
    padding: 0 0 0.25rem;
}

.password-reset-form input {
    color: var(--brightfont-color);
    font-size: 1.25rem;
    border: none;
    border-radius: 0.3rem;
    padding: 0.6rem;
    background-color: var(--background-color);
}

.password-reset-submit {
    padding-top: 1rem;
    text-align: center;
}

.password-reset-submit button {
    font-size: 1.8rem;
    font-weight: 700;
    background-color: var(--foreground-color);
    color: var(--logout-color);
    border: 3px solid var(--logout-color);
    border-radius: 0.3rem;
    transition: all 0.3s ease;
    cursor: pointer;
}

.password-reset-submit button:hover {
    color: var(--foreground-color);
    background-color: var(--logout-color);
}

.password-reset-redirect {
    grid-area: redirect;
}

.password-reset-redirect a {
    text-decoration: none;
    color: var(--login-color);
}

.password-reset-redirect a:hover {
    text-decoration: underline;
}
 
/* Password Reset Done */
.reset-done-container {
    display: grid;
    grid-template: 
    ". card ."
    / 0.5fr 6fr 0.5fr;
    padding-top: 2rem;
    justify-items: center;
    align-items: center;
    z-index: 2;
}

.reset-done-card {
    grid-area: card;
    margin-top: 3rem;
    padding: 2rem 3rem;
    display: grid;
    grid-template:
    "title"
    "redirect";
    justify-items: center;
    background-color: var(--midground-color);
    border-radius: 0.3rem;
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
    transition: all 0.4s ease-in-out;
}

.reset-done-title {
    grid-area: title;
    width: 100%;
    font-size: 1.5rem;
    text-align: center;
    padding: 1.5rem 0;
}

.reset-done-title h2 {
    margin: 0;
}

.reset-done-redirect {
    grid-area: redirect;
    padding: 2rem 0;
}

.reset-done-redirect a {
    font-size: 4rem;
    text-decoration: none;
    color: var(--brightfont-color);
    transition: color 0.2s ease-in-out;
}

.reset-done-redirect a:hover {
    color: var(--login-color);
}
 
/* Confirm Passwrod Reset */
.reset-confirm-container {
    display: grid;
    grid-template: 
    ". card ." 1fr
    ". footer ." 0.1fr
    / 0.5fr 6fr 0.5fr;
    padding-top: 2rem;
    justify-items: center;
    align-items: center;
    z-index: 2;
}

.reset-confirm-card {
    grid-area: card;
    margin-top: 3rem;
    padding: 0 3rem 0;
    display: grid;
    grid-template:
    "title"
    "form"
    "redirect";
    justify-items: center;
    background-color: var(--midground-color);
    border-radius: 0.3rem;
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
    transition: all 0.4s ease-in-out;
}

.reset-confirm-title {
    grid-area: title;
    width: 100%;
    font-size: 1.5rem;
    text-align: center;
    padding: 1.5rem 0 0;
}

.reset-confirm-title h2 {
    margin: 0;
}

.reset-confirm-card .reset-confirm-form {
    grid-area: form;
    width: 100%;
    text-align: left;
    padding: 0.5rem 0 1.5rem;
}

.reset-confirm-form p {
    position: relative;
    left: 10%;
    font-size: 1.5rem;
    margin: 0;
    padding: 1rem 0 1rem;
}

.reset-confirm-form p:empty {
    display: none;
}

.reset-confirm-form label {
    display: block;
    text-align: left;
    padding: 0 0 0.25rem;
}

.reset-confirm-form input {
    color: var(--brightfont-color);
    font-size: 1.25rem;
    border: none;
    border-radius: 0.3rem;
    padding: 0.6rem;
    background-color: var(--background-color);
}

.reset-confirm-form .helptext {
    display: none;
}

.reset-confirm-form ul {
    display: none;
}

.reset-confirm-submit{
    padding-top: 1rem;
    text-align: center;
}

.reset-confirm-submit button {
    font-size: 1.8rem;
    font-weight: 700;
    background-color: var(--foreground-color);
    color: var(--logout-color);
    border: 3px solid var(--logout-color);
    border-radius: 0.3rem;
    transition: all 0.3s ease;
    cursor: pointer;
}

.reset-confirm-submit button:hover {
    color: var(--foreground-color);
    background-color: var(--logout-color);
}

.reset-confirm-redirect {
    grid-area: redirect;
}

.reset-confirm-redirect a {
    text-decoration: none;
    color: var(--login-color);
}

.reset-confirm-redirect a:hover {
    text-decoration: underline;
}
 
/* Media */
@media screen and (max-width: 50rem) {
    .password-change-container {
        grid-template: 
        ". header ." auto
        ". card ." 1fr
        ". footer ." auto;
        padding: 3.5rem 0;
    }

    .password-change-card {
        background-color: var(--midground-color);
        box-shadow: none;
    }
    
    .password-change-card:hover {
        box-shadow: none;
    }

    .changed-card {
        background-color: var(--midground-color);
        box-shadow: none;
    }

    .password-reset-card {
        background-color: var(--midground-color);
        box-shadow: none;
    }

    .reset-done-card {
        background-color: var(--midground-color);
        box-shadow: none;
    }

    .reset-confirm-container {
        grid-template: 
        ". header ." auto
        ". card ." 1fr
        ". footer ." auto;
        padding: 3.5rem 0;
    }

    .reset-confirm-card {
        background-color: var(--midground-color);
        box-shadow: none;
    }
    
    .reset-confirm-card:hover {
        box-shadow: none;
    }
}
